programms/tmux/plugins
hyprland/catppucin-mocha-awesome/.config/btop/btop.log
hyprland/catppucin-mocha-awesome/config/cava/shaders/
hyprland/catppucin-mocha-awesome/config/yazi/plugins/
hyprland/catppucin-mocha-awesome/config/yazi/flavors/
hyprland/catppucin-mocha-awesome/config/obs-studio/global.ini
hyprland/catppucin-mocha-awesome/config/obs-studio/logs/
hyprland/catppucin-mocha-awesome/config/obs-studio/basic/
hyprland/catppucin-mocha-awesome/config/obs-studio/plugin_config/
hyprland/catppucin-mocha-awesome/config/obs-studio/profiler_data/
