window {
  background: #11111b;
  border-radius: 15px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgba(255, 255, 255, 0.1);
  color: #1e1e2e;
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 5px;
}

#active {
  border-bottom: solid 0px;
}

button,
image {
  background: none;
  border-style: none;
  box-shadow: none;
  color: #f5c2e7;
}

button {
  padding: 2px;
  margin-left: 4px;
  margin-right: 4px;
  color: #1e1e2e;
  font-size: 10px;
}

button:hover {
  background-color: #1e1e2e;
  border-radius: 15px;
}

button:focus {
  box-shadow: none;
}
