* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: CaskaydiaCove Nerd Font;
  font-size: 13px;
  min-height: 0;
}
@define-color bg-main #1e1e2e;
@define-color text #1e1e2e;

window#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

window#waybar.hidden {
  opacity: 0.2;
}

/*window#waybar.empty {*/
/*}*/
/*window#waybar.solo {*/
/*}*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
}
#workspaces {
  background-color: #181825;
  color: #cdd6f4;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  border: 5px solid transparent;
}

#workspaces button {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 100%;
  border: 4px solid transparent;
  background-color: #b4befe;
  transition: background-color 0.6s ease;
}
#workspaces button:hover {
  background-color: #f5c2e7;
}

/*
#workspaces button.empty {
}
*/

#workspaces button.active {
  background-color: #cba6f7;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 20px;
}

#workspaces button.urgent {
  background-color: #eba0ac;
}

#clock:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#tray:hover,
#window:hover,
#language:hover,
#custom-menu:hover,
#custom-powermenu:hover,
#custom-gsconnect:hover,
#custom-weather:hover {
  background-color: rgba(203, 166, 247, 0.9);
  color: #181825;
}
#clock,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#window,
#language,
#privacy,
#custom-menu,
#custom-powermenu,
#custom-gsconnect,
#custom-weather {
  background-color: #181825;
  color: #cdd6f4;
  padding-left: 8px;
  padding-right: 8px;
  border: 4px solid transparent;
  border-radius: 20px;
  transition: background-color 0.6s ease;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #cdd6f4;
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}
#network {
  padding-right: 15px;
}
#network.disconnected {
  background-color: #f38ba8;
  color: #11111b;
  padding-right: 15px;
}

#pulseaudio.muted {
  color: #cba6f7;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #f38ba8;
  color: #11111b;
}
#tray {
  /*padding-left: 6px;*/
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #f38ba8;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#custom-menu {
  margin-left: 5px;
  padding-right: 12px;
  letter-spacing: -1px;
  font-size: 18px;
  background-color: #181825;
  color: #74c7ec;
}
#custom-powermenu {
  margin-right: 5px;
  padding-right: 12px;
  background-color: #f38ba8;
  color: #181825;
}
#privacy {
  border: 7px solid transparent;
  background-color: #a6e3a1;
  color: #181825;
}
#custom-gsconnect {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
}
